.div-scroll {
    height: auto;   
    width: 100%;
    overflow: hidden;
    display: flex;
    column-gap:200px;
    box-shadow:0px 1px  2px -1px;
    position:sticky;
    top:0px;
}  

    .div-scroll .div-scroll-item {
        display: flex;
        transform: translateX(1100px);
        justify-content: space-between;
        column-gap: 29px;
        animation: scroll 55s infinite linear;       
        width: 100%;
    }

    .div-scroll .div-scroll-item:hover{
        animation-play-state:paused;
    } 

@keyframes scroll {
    0% {
        transform: translateX(1100px);
    }

    100% {
        transform: translateX(-1152px);
    }
}




.div-scroll .item {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #00ccff;
    border-radius:5px;
    box-shadow: 0px 1px 4px -1px;
    width: 100%;
}


.div-scroll p {
    margin: 0px;
}
