

.CardList {
    width: 360px;
    background-color: #e9e9e9;
    border-radius: 10px;
    margin-left: 20px;
    padding: 15px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

    .CardList ul {
        display: block;
    }

    .CardList h1 {
        font-size: 1em;
        font-weight: bold;
        color: forestgreen;
    }

    .CardList li {
        display: block;
        margin-top: 5px;
        padding-left: 10px;
        cursor: pointer;
        border-radius: 10px;
        
    }

        .CardList li:nth-child(odd) {
            background: #e1e1e1;
        }

        .CardList li:hover {
            background-color: #00CCFF;
            color: white;
        }

        .CardList li:active {
            background-color: red;
        }

    .CardList label {
        width: 250px;
    }

.cardTitle {
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.searchBarContainer {
    background-color: #403d3d;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}



.component-input {
    background-color: white;
    box-shadow: 0px 0px 8px gray;
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    top: 0px;
    z-index: 100;
    width: 278px;
    max-width: 278px;
    height: 55px;
   
}

    .component-input select {
        color: white;
        background-color: #00cbfe;
        border-color: transparent;
        width: 90%;
        margin-top: 5px;
        margin-left: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    .component-input select {
        color: white;
        background-color: #00cbfe;
        border-color: transparent;
        width: 90%;
        margin-top: 5px;
        margin-left: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    .component-input #Closed {
        background-color: #00cbfe;
        border-color: transparent;
        border-radius: 0px 10px 1px 0px;
        padding-top:0px;
        color: white;
        height: 27px;
        width: 35px;
        margin-top: -43px;
        margin-left: 270px;
        position: absolute;
        box-shadow: inset 0px 20px 25px -25px gray;
    }

    .component-input #Success {
        background-color: #00cbfe;
        border-color: transparent;
        border-radius: 0px 1px 10px 0px;
        color: white;
        height: 30px;
        width: 35px;
        margin-top: -16px;
        margin-left: 270px;
        x 1px 0px;
        position: absolute;
        box-shadow: inset 0px 20px 25px -20px white;
    }

    .component-input #btn-img {
        margin-left: 0px;
        background-color: #00cbfe;
        padding: 10px;
        height: auto;
        border-radius: 0px 5px 5px 0px;
    }

    .component-input p {
        height: 20px;
        min-width: 25px;
        padding-left: 9px;
        padding-right: 9px;
        text-align: center;
        border-radius: 10px;
        position: absolute;
        top: -15px;
        left: -5px;
        box-shadow: 0px 3px 5px gray, inset 0px 0px 2px 1px white;
    }


.item-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 0.1px 1px #ced4da;
    border-radius: 4px;
    border-color: #dee2e6;
    min-width: 100px;
    width: auto;
    height: auto;
    border-width: 0.1px;
}

    .item-edit img {
        background-color: #00ccff;
        border-radius: 4px;
        border-color: transparent;
        height:20px;
        overflow:hidden;
    }

        

        .item-edit label {
            font-size: 12px;
        }

.grid-columns-4 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;  
    align-items: center;
    margin-right: 28px;
    padding: 10px;
  
}

.box-shadow-mode {
    box-shadow: 0px 0px 2px gray;
}


.grid-columns-2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(40px, auto);
    align-items: center;
    margin-right: 28px;
    padding: 10px;
}

.grid-image {
    display: grid;
    grid-template-columns: 200px 300px 200px;
    grid-auto-rows: minmax(40px, auto);
    grid-column-gap: 100px;
    grid-row-gap: 150px;
    align-items: center;
    margin-left: 5px;
}

    .grid-image .img {
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        position: relative;
    }

        .grid-image .img .open {
            position: absolute;
            height: 25px;
            width: 25px;
            border-radius: 5px;
            text-align: center;
            padding: 1px;
            right: 90px;
            bottom: -5px;
            object-fit: cover;
            background-color: #00ccff;
            box-shadow: 2px 1px 5px black;
        }

        .grid-image .img .delete {
            background-color: red;
        }

.view-img {
    height: 100%;
    width: auto;
}

    .view-img img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }

.flex-verical-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    min-height: 860px;
    padding-bottom: 50px;
}

.flex-verical-center-new {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 860px;
    padding-bottom: 50px;
    background-color: red,
}

.flex-verical-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    min-height: 860px;
    width: 100%;
    padding-bottom: 50px;
}

.flex-horizontal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    min-height: 860px;
    width:100%;
    padding-bottom: 50px;
    overflow: hidden;
}

    .flex-horizontal-center .conten-new-imge {
        box-shadow: 0px 0px 2px gray;
        padding: 10px;
        border-radius: 5px;
    }



.flex-horizontal-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

.flex-horizontal-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

.grid-mode-row {
    padding: 9px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 100px 300px;
    column-gap: 10px;
    row-gap: 10px;
    box-shadow: 0px 0px 2px gray;
}

.color-btn {
    background-color: #00ccff;
    color: black;
    border-radius: 5px;
    border-color: transparent;
    margin-left: 5px;
}

.size-btn {
    height: 40px;
    min-width: 80px;
}

.color-hover:hover {
    color: white;
}

.content-new-packing-recipe {
    height: 800px;
    overflow-y: scroll;
}

.content-new-packing-recipe {
    position: relative,
}

    .content-new-packing-recipe .item {
        z-index: 100;
        bottom: 20px;
        position: absolute;
        width: 300px;
        right: 20px;
    }

.content-btn {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .content-btn button {
        font-size: 20px;
        font-weight: bold;
        height: 40px;
    }

.grid-columns-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(40px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 12px;
    align-items: start;
    margin-top: 20px;
    width:100%;
}

.container-menu-g {
    background-color: #2d2926;
    padding: 5px;
    border-radius: 5px;
}

.svg-ico {
    margin-left: 20px;
    margin-top: 3px;
    cursor: pointer;
}

.c-red {
    color: red;
}

.div-alert-save {
    position: relative;
}

.msg-save {
    position: absolute;
    background-color: orangered;
    color: white;
    height: 20px;
    width: 119px;
    font-size: 12px;
    padding: 0px 5px 0px 15px;
    border-radius: 8px 8px 8px 1px;
    box-shadow: inset -1px -1px 3px 0px;
    top: -18px;
    left: 80px;
    z-index: 12;
}

.img-ico-list {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    margin-top: 3px;
}

.width-grid-2 {
    width: 500px;
}


.nav-link-style {
    background-color: #00ccff;        
    border-radius: 10px;
    height:30px;
    border: none;
    margin-left: 10px;
    font-size: 12px;
    padding:7px 10px 0px 5px;
    color:white;
}
    .nav-link-style a {
        color: white;
        text-decoration: none;      
    }
.position-input{
    position:absolute;    
    left:-15px;
}

.width-form{
    width:800px;
}

.Text-grid{
    font-size:3px;
  
    }
.grid-width{
   max-width:20px;  
}

.select-style {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-color: #ced4da;
    font-size: 14px;
}

.p-mode-text{
  height:20px;
  margin-top:2px;
  padding-left:10px;
  border-radius:5px;
  box-shadow:0px 0px 2px gray;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:start;
}

.p-mode-text p{
    margin:0px;
    
}

.info-text-size {
    font-size: 12px;
    line-height: 0px;
    height: 20px;
    word-wrap: break-word;
    font-weight: normal;
}

.info-title-size {
    font-size: 12px;    
}


.input-style {   
    font-size: 12px;
    line-height: 0px;  
}

