.content-msg {
    background-color: white;
    overflow-y: auto;
    height: 405px;
    padding: 0px 10px 100px 8px;
    transform: rotateY(0deg);
}





/*Cliente 2*/
.msg-mode-client-2 {
    background-color: #7eaae4;
    width: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 5px;
    padding-top: 10px;
    border-radius: 5px;
    position: relative;
    word-break: break-word;
}

    .msg-mode-client-2 .content-ico {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        align-items: end;
        justify-content: end;
        margin-bottom: 5px;
        width: 300px;
        align-items: center;
    }



        .msg-mode-client-2 .content-ico p {
            margin: 0px;
            color: white;
        }

        .msg-mode-client-2 .content-ico .c-ico {
            height: 35px;
            width: 35px;
            background-color: white;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px;
            box-shadow: -1px -1px 4px -1px black inset;
        }



            .msg-mode-client-2 .content-ico .c-ico img {
                height: 25px;
            }

    .msg-mode-client-2 .text {
        font-size: 15px;
        color: white;
        margin: 0px;
        min-width: 200px;
        text-align: start;
        white-space: nowrap;
    }



    .msg-mode-client-2 .label-color {
        background-color: #00ff00;
        height: 20px;
        width: 120px;
        transform: rotate(-49deg);
        position: absolute;
        border-radius: 100px 100px 0px 0px;
        box-shadow: 0px 0px 5px white inset, 0px 0px 2px 1px gray, 3px 0px 5px -2px inset gray, -3px 0px 5px -2px inset gray;
        top: 19px;
        left: -35px;
    }

    .msg-mode-client-2 .label-color-2 {
        background-color: #00ff00;
        height: 20px;
        width: 120px;
        transform: rotate(-49deg);
        position: absolute;
        border-radius: 100px 100px 0px 0px;
        box-shadow: 0px 0px 5px white inset, 0px 0px 2px 1px gray, 3px 0px 5px -2px inset gray, -3px 0px 5px -2px inset gray;
        top: 0px;
        left: 120px;
    }




    .msg-mode-client-2 .ico-menu-alert {
        padding: 5px;
        margin-left: 10px;
        width: 30px;
        border-radius: 5px;
    }

.container-text-2 {
    width: 100%;
    padding-right: 2px;
    white-space: break-spaces;
}

    .container-text-2 .text {
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        color: black;
    }


.msg-responder {
    background-color: #7eaae4;
    padding: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    box-shadow: 0px 1px 2px 1px;
    max-width: 1000px; 
    overflow: hidden;   
    z-index:10000;
}

    .msg-responder .msg-menu {
        height: 25px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        position: relative;
        width: 100%;
    }

        .msg-responder .msg-menu img {
            background-color: transparent;
            box-shadow: 0px 0px 4px -1px white inset, 0px 0px 4px -1px black;
            border-radius: 5px;
            background-color: #a4b5b7;
            padding: 3px;
            height: 25px;
            margin-right: 10px;
        }


        .msg-responder .msg-menu .content-msg-menu {
            margin-right: 20px;
            margin-left: 20px;
        }


.menu-view-client-1 {
    background-color: #1e92af;
    position: absolute;
    z-index: 20;
    padding: 5px;
    border-radius: 5px;
    top: -30px;
    left: 80px;
}



.msg-responder .item-responder {
    background: white;
    padding-left: 10px;
    overflow: hidden;
    border-radius: 10px 10px 1px 1px;
    z-index: 10;
}

    .msg-responder .item-responder p {
        margin: 0px;
        margin-top: 2px;
        margin-bottom: 5px;
    }

.menu-view-1 {
    position: absolute;
    top: -30px;
    left: 80px;
    background-color: #bed3f1;
    border-radius: 5px;
    padding: 5px;
}

.container-msg {
    margin-left: 20px;
    margin-right: 20px;
}




/* segun do cliente*/


.msg-mode-client-1 {
    background-color: #7eaae4;
    width: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 5px;
    padding-top: 10px;
    border-radius: 5px;
    position: relative;
    word-break: break-word;
}

.color-2 {
    background-color: #bbf4c5;
}


.msg-mode-client-1 .content-ico-1 {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
}

.msg-mode-client-1 .content-ico-1 {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: end;
    justify-content: end;
    margin-bottom: 5px;
    width: 300px;
    align-items: center;
}


    .msg-mode-client-1 .content-ico-1 p {
        margin: 0px;
        color: black;
    }

    .msg-mode-client-1 .content-ico-1 .c-ico {
        height: 35px;
        width: 35px;
        background-color: white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        box-shadow: -1px -1px 4px -1px black inset;
    }



        .msg-mode-client-1 .content-ico-1 .c-ico img {
            height: 25px;
        }

.ico-menu-alert {
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}
.ico-menu-menu {
  
}