
<div class="content-msg">

    @if (true)
    {
        <div class="msg-mode-client-1">
            <div class="content-ico" >
                <div class="c-ico"><img src="/images//ActorsIco.png"></div>
                <p class="name">David</p>
                <p class="hour-style">12:08 pm</p>
            </div>
            <p class="text">asassasd asas</p>
            <div class="msg-menu">               
                <div class="content-msg-menu">                   
                    <img class="ico-menu" src="/images//reply.svg">
                    <img class="ico-menu" src="/images//responder.svg">
                </div>
            </div>
        </div>



    }

    @if (true)
    {
        <div class="msg-mode-client-2">
            <div class="content-ico">      
                <p class="hour-style">12:08 pm</p>
                <p class="name">David</p>
                <div class="c-ico"><img src="/images//ActorsIco.png"></div>
            </div>
            <p class="text">asassasd asas</p>
            <div class="msg-menu">
                <div class="content-msg-menu">
                   @* <img class="ico-menu" src="/images//check_1.svg">*@
                    <img class="ico-menu" src="/images//reply.svg">
                 @*   <img class="ico-menu" src="/images//responder.svg">*@
                </div>
            </div>
        </div>
    }


</div>



@code {

}
