
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager

<div id ="ChatConatainerDiv">
    <ChatUpperControl>

    </ChatUpperControl>
    
    <div id="MessagesContainer">
        <ul>
            @foreach (var text in addedTexts)
            {
                <li>@text</li>
            }
        </ul>
    </div>
    <ChatMessageWriter @bind-TextMessage="@entitiesFilter">

    </ChatMessageWriter>
</div>

@code {
     
    private HubConnection? hubConnection;
    int NumberOfConnectedUsers = 0;

    private List<string> addedTexts = new List<string>();
    string _textMessage = "";
   
    protected override async Task OnInitializedAsync(){

        // Initializing hub
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/hubs/userHub"), options =>
            {
                options.AccessTokenProvider = () => Task.FromResult(UIClientGlobalVariables.UserId);
            })
            .Build();

        hubConnection.On<string>("updateConnectedUsers", (usersConnectedCount) =>
        {
            Console.WriteLine(usersConnectedCount);

            NumberOfConnectedUsers = int.Parse(usersConnectedCount);
            StateHasChanged();
        });

        try
        {
            await hubConnection.StartAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error connecting: {e.Message}");
        }

    }

    public string? entitiesFilter
    {
        get { return _textMessage; }
        set
        {
            _textMessage = value;
            addMessage(_textMessage);
        }
    }


    private void addMessage(string messageChat) {
        addedTexts.Add(messageChat);

    }
}
