@using Syncfusion.Blazor.Inputs
@using SunttelTradePointB.Shared.Communications
@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager
@inject CommunicationService communicationService



<div class="content">
    <div class="sub-content">
        <div class="content-input">

            <SfTextBox @ref="input" Placeholder="Type a message"
                       Enabled="true"
                       Multiline="true"
                       @bind-Value="message"
                       @oninput="OnTyping"
                       CssClass="input-text">
            </SfTextBox>


            @* <SfTextBox @ref="input" Placeholder="Enter an address"
            Enabled="true"
            @bind-Value="communicationsMessage.Message"
            @onkeypress="@KeyPressed"
            Multiline="true"
            CssClass="input-text"></SfTextBox>*@

        </div>
        <div class="content-img">
            <img @onclick="SendMsg" src="/images//send.png" />
        </div>

    </div>
</div>


@code {
    [Parameter]
    public EventCallback<CommunicationsMessage> TextMessageChanged { get; set; }
    [Parameter]
    public List<CommunicationsMessage> communicationsMessages { get; set; } = new();
    [Parameter]
    public EventCallback<string> EventCallRefresh { get; set; }
    [Parameter]
    public ChannelCommunicationsGroup groupEnable { get; set; } = new();
    public CommunicationsMessage communicationsMessage { get; set; } = new();

    SfTextBox? input;
    bool modeEnter = false;
    bool onWrite = true;

    string message = "";

    protected override void OnParametersSet()
    {
        var f = communicationsMessage;
    }





    protected async override void OnInitialized()
    {
        if (communicationService.communicationsMessages == null) communicationService.communicationsMessages = new();
        string n = UIClientGlobalVariables.UserSkinImage;
        StateHasChanged();
        onWrite = true;


    }


    private string Validationbj()
    {
        string msg = "";
        if (communicationsMessage.Message == null && communicationsMessage.Message == "") msg = "Required message";
        if (communicationsMessage.DestinyGroupChannel.Id == null && communicationsMessage.DestinyGroupChannel.Id == "") msg = "Required message";

        return msg;
    }





    public async void SendMsg()
    {
        Loading();
        string msg = Validationbj();
        if (onWrite && message != null && message != "")
        {
            onWrite = false;

            communicationsMessage = new CommunicationsMessage()
                {
                    MessageTypeId = CommunicationsMessageType.ChatMessage,
                    Message = message,
                    SenderEntity = new EntityNodeCommunications
                    {
                        Id = UIClientGlobalVariables.EntityUserId != null ? (UIClientGlobalVariables.EntityUserId != "" ? UIClientGlobalVariables.EntityUserId:"1"):"1",
                        Name = UIClientGlobalVariables.UserName != null ? (UIClientGlobalVariables.UserName != "" ? UIClientGlobalVariables.UserName : "Name") : "Name",
                        SkinImageName = UIClientGlobalVariables.UserSkinImage != null ? (UIClientGlobalVariables.UserSkinImage != "" ? UIClientGlobalVariables.UserSkinImage : null) : null
                    },
                    DestinyGroupChannel = new EntityNodeCommunications
                    {
                        Id = groupEnable.Id != null ? groupEnable.Id : "",
                        SkinImageName = groupEnable.SkinImageName,
                        Name = groupEnable.Name != null ? groupEnable.Name : "Group"
                    }

                };
            TextMessageChanged.InvokeAsync(communicationsMessage);

            communicationsMessage = new();

            StateHasChanged();
            onWrite = true;
            message = "";
        }

    }





    private void OnTyping(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        string enter = "";
        if (args != null)
        {
            message = args.Value.ToString();
            enter = args.Value.ToString();
            if (message.Contains("."))
            {
                if (message.Contains("\n".ToString()))
                {
                    SendMsg();
                    message = enter = "";
                }
            }
        }

    }


    private void OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {


        }

    }


    public void KeyPressed(KeyboardEventArgs args)
    {
        if (args.Key == " ") modeEnter = true;


        if (args.Key == "Enter")
        {

            communicationsMessages.Add(communicationsMessage);
            TextMessageChanged.InvokeAsync(communicationsMessage);
            //  communicationsMessage = new();

            modeEnter = false;
        }

    }



    private void Loading()
    {
        //if (communicationsMessages == null) communicationsMessages = new();
        if (communicationsMessage.SenderEntity == null) communicationsMessage.SenderEntity = new();
        if (communicationsMessage.DestinyGroupChannel == null) communicationsMessage.DestinyGroupChannel = new();
        if (groupEnable == null) groupEnable = new();
    }
}
