@using Syncfusion.Blazor.Inputs




<div class="content">
    <div class="sub-content">
        <div class="content-input">
            <textarea @bind="@textMsg" name="Text1" class="input-text" rows="5"></textarea>
        </div>
        <div  class="content-img">
            <img src="/images//send.png" />
        </div>

    </div>
</div>







@code {
    [Parameter]
    public EventCallback<string> TextMessageChanged { get; set; }

    public string? textMsg { get; set; }

}
