@page "/PDFAnalyse"
@using SunttelTradePointB.Client.Services.IAServices;
@inject IARecognition _IARecognition;
<PageTitleComponent Title="IA Tools" IconName="recipeModel.png"
                    Description="Here you can insert a document in pdf format to be analyzed and ask questions regarding the document">
</PageTitleComponent>

<div class="w-100 text-center cont">
    <h2>Insert your PDF to be analyzed</h2>


    <div class="card">
        <div class="card-body">
            <i class="fa-solid fa-upload upload-icon"></i>
            <p>Select a file</p>
            <InputFile type="file" class="form-control mb-2" id="pdfInput" accept=".pdf" OnChange="@HandleFileUpload" />
            @if (file is not null)
            {
                <button class="btn btn-main mb-2" @onclick="SaveFile">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Save File
                </button>
                <br />
            }
            @if (saving)
            {
                <label class="mb-2">@message</label>
            }
        </div>
    </div>
</div>

@code {
    private IBrowserFile file;
    public bool saving = false;
    public string message = "";


    private async void HandleFileUpload(InputFileChangeEventArgs e)
    {
        try
        {
            file = e.File;
        }
        catch (Exception ex)
        {
            Console.Write(ex.Message);
        }


    }

    public async void SaveFile()
    {
        if (file is null) return;
        saving = true;
        try
        {
            message = "Saving...";
            var resp = await _IARecognition.UploadFileAsync(file);
            if (resp.IsSuccessStatusCode)
            {
                message = "Document saved successfully";
            }
            else
            {
                message = "Error saving the document";
            }
        }
        catch (Exception ex)
        {
            message = "Error trying to save the document.";
        }
        StateHasChanged();
    }

}

<style>

    .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
        color: #00CCFF
    }

    .mb-3 {
        margin-bottom: 1.5rem;
    }

    .form-label {
        font-weight: bold;
    }

    .card {
        width: max-content;
    }

    .upload-icon {
        font-size: 2.4rem;
    }

    .btn-main {
        background-color: #00CCFF;
        color: white;
    }

        .btn-main:hover {
            background-color: #0077B3;
            color: white;
        }
</style>
