.img-style {
    height:85px;
    width:85px;
}
.btn-color {
    background-color: #00ccff;
}
.btn-color:hover {
    background-color: #00ccff;
    color:white;
}
.btn-delete{
    height:35px;
    width:40px;
}