@using SunttelTradePointB.Client.Shared.TransactionalItems
@using SunttelTradePointB.Shared.Common
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using SunttelTradePointB.Client.Shared.TransactionalItems.TransactionalItemsSubComponents
@inject NavigationManager Navigation
@inject TransactionalItemsService transactionalService;

<div class="detailsTitleContainer">
    <h3 class="subTitleDetailForm">@GetName("ModelRecipe", new PackingSpecs())</h3>
    <svg @onclick="@OpenAdd" title="Add new tag" style="margin-left:20px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle add-btn-style" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>
</div>

@if(ProductModels==null)ProductModels=new();
<DataGrid TParameter="ProductModel"
          EventCallbackMenu="OnContextMenuClick"
          parameterList="ProductModels"
          GridColumnsList="gridColumnList"         
          Width="100%">
</DataGrid>

@code {
    List<ProductModel> ProductModels = new();

    public List<GridColumn> gridColumnList = new();

    string transactionalItemId = "";
    string msg =  "";
    bool viewMsg = false;
    bool status = false;


    protected override void OnInitialized()
    {     

        if (transactionalService.transactionalItemId != null && transactionalService.transactionalItemId != "")
        {          
            transactionalItemId = transactionalService.transactionalItemId;

        }

        gridColumnList = new List<GridColumn>
        {
            new GridColumn() { Field = nameof(ProductModel.Name), HeaderText = GetName("Name", new TransactionalItemTypeCharacteristic()), Width="300" }

        };


    }




    public void OpenAdd()
    {
        Navigation.NavigateTo("/ProductModelCard");
    }

    private void Msg(string _msg, int _status)
    {
        msg =  _msg;
        viewMsg = true;
        status = status;
    }

    public async void OnContextMenuClick(ContextMenuClickEventArgs<ProductModel> args)
    {
       
    }

    public string GetName(string Name, Object Obj)
    {
        Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }


}
