@page "/ChatGeneral"
@using Microsoft.AspNetCore.SignalR.Client
@using SunttelTradePointB.Client.Shared.EntityShareComponents
@using System.Reflection
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
<style>
    body html {
        overflow: hidden;
    }

</style>

<PageTitleComponent Title="Chat" IconName="ChatIco.png"
                    Description="Chat with your teammates, clients, and providers">
</PageTitleComponent>

<div class="content-chat" >
    <ChatManager>

    </ChatManager>

</div>


@code {

}
