@using SunttelTradePointB.Client.Shared.ConceptSelectors
@using SunttelTradePointB.Shared.Common;
@*<div>
<label for="FirstName" class="LabelFieldStyle">FirstName</label>
<input type="text" id="FirstName" name="FirstName" class="InputFieldStyle" @bind="currentEntity.FirstName">
<div>
<label for="LastName" class="LabelFieldStyle">LastName</label>
<input type="text" id="LastName" name="LastName" class="InputFieldStyle" @bind="currentEntity.LastName">
<label for="InvoicingAddress" class="LabelFieldStyle">InvoicingAddress</label>
<AddressSelector id="InvoicingAddress" name="InvoicingAddress" class="InputFieldStyle"></AddressSelector>
</div>
<div>
<label for="DefaultEntityRole" class="LabelFieldStyle">DefaultEntityRole</label>
<CustomSelector id="DefaultEntityRole" name="DefaultEntityRole" class="InputFieldStyle" ></CustomSelector>
<label for="SunttelUserId" class="LabelFieldStyle">SunttelUserId</label>
<input type="text" id="SunttelUserId" name="SunttelUserId" class="InputFieldStyle" @bind="currentEntity.SunttelUserId">
</div>
<label for="EMailAddress" class="LabelFieldStyle">EMailAddress</label>
<input type="text" id="EMailAddress" name="EMailAddress" class="InputFieldStyle" @bind="currentEntity.EMailAddress">
</div>
<div>
<label for="SkinImageName" class="LabelFieldStyle">SkinImageName</label>
<input type="text" id="SkinImageName" name="SkinImageName" class="InputFieldStyle" @bind="currentEntity.SkinImageName">
<div>
<label for="Groups" class="LabelFieldStyle">Groups</label>
<CustomSelector id="Groups" name="Groups" class="InputFieldStyle" @bind-Value="currentEntity.Groups"></CustomSelector>
<div>
<label for="Status" class="LabelFieldStyle">Status</label>
<CustomSelector id="Status" name="Status" class="InputFieldStyle" @bind-Value="currentEntity.Status"></CustomSelector>
<div>
<label for="TypeOfConcept" class="LabelFieldStyle">TypeOfConcept</label>
<CustomSelector id="TypeOfConcept" name="TypeOfConcept" class="InputFieldStyle" @bind-Value="currentEntity.TypeOfConcept"></CustomSelector>
<div>
<label for="FullClassName" class="LabelFieldStyle">FullClassName</label>
<input type="text" id="FullClassName" name="FullClassName" class="InputFieldStyle" @bind="currentEntity.FullClassName">
<div>
<label for="Code" class="LabelFieldStyle">Code</label>
<input type="text" id="Code" name="Code" class="InputFieldStyle" @bind="currentEntity.Code">
<div>
<label for="Name" class="LabelFieldStyle">Name</label>
<input type="text" id="Name" name="Name" class="InputFieldStyle" @bind="currentEntity.Name">
<div>
<label for="AuditRecord" class="LabelFieldStyle">AuditRecord</label>
<CustomSelector id="AuditRecord" name="AuditRecord" class="InputFieldStyle" @bind-Value="currentEntity.AuditRecord"></CustomSelector>
<div>
<label for="Id" class="LabelFieldStyle">Id</label>
<input type="text" id="Id" name="Id" class="InputFieldStyle" @bind="currentEntity.Id">
<div>
<label for="LegacyId" class="LabelFieldStyle">LegacyId</label>
<input type="text" id="LegacyId" name="LegacyId" class="InputFieldStyle" @bind="currentEntity.LegacyId">
<div>
<label for="Notes" class="LabelFieldStyle">Notes</label>
<input type="text" id="Notes" name="Notes" class="InputFieldStyle" @bind="currentEntity.Notes">
<div>
<nav>
<ul class="nav nav-tabs">
<li class="nav-item"><a class="nav-link" href="#IdentificationsDetails" data-toggle="tab">Identifications</a></li>
<div class="tab-content" id="myTabContent"><div class="tab-pane fade show active" id="IdentificationsDetails" role="tabpanel" aria-labelledby="Identifications">
<IdentificationEntityDetails currentEntity.Identifications></IdentificationEntityDetails>
</div></div>
<li class="nav-item"><a class="nav-link" href="#TagsDetails" data-toggle="tab">Tags</a></li>
<div class="tab-content" id="myTabContent"><div class="tab-pane fade show active" id="TagsDetails" role="tabpanel" aria-labelledby="Tags">
<EntityTagDetails currentEntity.Tags></EntityTagDetails>
</div></div>
<li class="nav-item"><a class="nav-link" href="#AddressListDetails" data-toggle="tab">AddressList</a></li>
<div class="tab-content" id="myTabContent"><div class="tab-pane fade show active" id="AddressListDetails" role="tabpanel" aria-labelledby="AddressList">
<AddressDetails currentEntity.AddressList></AddressDetails>
</div></div>
<li class="nav-item"><a class="nav-link" href="#ElectronicAddressesDetails" data-toggle="tab">ElectronicAddresses</a></li>
<div class="tab-content" id="myTabContent"><div class="tab-pane fade show active" id="ElectronicAddressesDetails" role="tabpanel" aria-labelledby="ElectronicAddresses">
<ElectronicAddressDetails currentEntity.ElectronicAddresses></ElectronicAddressDetails>
</div></div>
<li class="nav-item"><a class="nav-link" href="#PhoneNumbersDetails" data-toggle="tab">PhoneNumbers</a></li>
<div class="tab-content" id="myTabContent"><div class="tab-pane fade show active" id="PhoneNumbersDetails" role="tabpanel" aria-labelledby="PhoneNumbers">
<PhoneNumberDetails currentEntity.PhoneNumbers></PhoneNumberDetails>
</div></div>
<li class="nav-item"><a class="nav-link" href="#ShippingInformationDetails" data-toggle="tab">ShippingInformation</a></li>
<div class="tab-content" id="myTabContent"><div class="tab-pane fade show active" id="ShippingInformationDetails" role="tabpanel" aria-labelledby="ShippingInformation">
<ShippingInfoDetails currentEntity.ShippingInformation></ShippingInfoDetails>
</div></div>
<li class="nav-item"><a class="nav-link" href="#EntitiesRelationShipsDetails" data-toggle="tab">EntitiesRelationShips</a></li>
<div class="tab-content" id="myTabContent"><div class="tab-pane fade show active" id="EntitiesRelationShipsDetails" role="tabpanel" aria-labelledby="EntitiesRelationShips">
<EntitiesCommercialRelationShipDetails currentEntity.EntitiesRelationShips></EntitiesCommercialRelationShipDetails>
</div></div>
</ul>
</nav>
</div>*@

@code {
    EntityActor currentEntity;

}
