@page "/"
<AuthorizeView>
    <Authorized>
        <div>
           
            <DashBoardIntro></DashBoardIntro>

        </div>
        
    </Authorized>
    <Authorizing>

        <p>another</p>
        <h1>Loading ...</h1>
        
    </Authorizing>
</AuthorizeView>