@using SunttelTradePointB.Client.Shared.Chat.AuxiliarComponents
@using SunttelTradePointB.Shared.Communications

<div id="ChatUpperConatainerDiv">
    <div id="ConnectedUsers">
        <label>Connected Users</label>
        <CounterBubble NumerCount="@NumerCount"></CounterBubble>
    </div>
    <div class="title">
        <label style="display:@(msg!=""?"block":"none")">@msg</label>
    </div>
    <SearchComponent @bind-FilterTextSet="@conceptFilter"></SearchComponent>
    <div class="container-reload">
        <img @onclick="ReloadMsg" class="img-reload" style="display:@(filterStatus?"block":"none");" src="/images//reload.svg" />
    </div>

</div>


@code {
    [Parameter]
    public EventCallback<string> EventCallbackFilter { get; set; }
    [Parameter]
    public int NumerCount { get; set; }
    [Parameter]
    public List<CommunicationsMessage> communicationsMessages { get; set; } = new();
    [Parameter]
    public ChannelCommunicationsGroup channelCommunicationsGroup { get; set; } = new();
    string _filterItems = "";
    bool filterStatus = false;
    string msg = "";

    public string? conceptFilter
    {
        get { return _filterItems; }
        set
        {
            _filterItems = value;
            LoadData();
        }
    }

    private async Task LoadData()
    {
        filterStatus = true;
        EventCallbackFilter.InvokeAsync(_filterItems);
        StateHasChanged();

    }


    public void ReloadMsg()
    {
        filterStatus = false;
        EventCallbackFilter.InvokeAsync("all");
    }

}
