.content-msg {
    background-color: white;
    overflow-y: auto;
    height: 405px;
    max-width:959px;
    padding: 0px 10px 100px 8px;
    transform: rotateY(0deg);    
    position:relative;
   
}

.msg-responder {
    background-color: #7eaae4;
    padding: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    row-gap:8px;
    border-radius: 10px;
}

.messageHistory{
    position:absolute;
    top:10px;
    width:98%;
}
.margin-top {
    margin-top: 140px;
}

.btn-back-msg{
    height:29px;
    width:35px;
    border-radius:5px;
    box-shadow:0px 0px 5px black;
}