.conten-vertical-center{
    display:flex;
    flex-direction:column;
     align-items:center;
     height:350px;
     overflow:auto;
    width:100%;
    position:relative;
    background-color:white;
}

.content {
    width: 90%;
    background-color:white;
}
.width{
    width:500px;
}

.ico-style {
    height: 80px;
    width: 80px;
}
.content-img{
    width:100px;
    height:90px;
    background-color:gray;
    padding:10px 0px 0px 2px;
    position:absolute;
    border-radius:5px;   
    top:0px;
    right:0px;
}

.control-label {
    color: white;
}
       


    .content-img img {
    margin-left:0px;
    width:95px;
    height:55px;
    
    }
.position-chat{
 position:absolute;
    
}

.py-2 {
    position: sticky;
    bottom: 10px;
   right:0px;
}