
@using System;
@using System.Timers;
@using Microsoft.AspNetCore.SignalR.Client
@using SunttelTradePointB.Shared.Communications
@using SunttelTradePointB.Client.Shared.Chat.AuxiliarComponents
@using System.Text.RegularExpressions;

@inject NavigationManager NavigationManager


<div  class="group-min">
    <div class="item-group">
        <img src="/images//ActorsIco.png" />
       <p class="title-float" >msg</p>
    </div>


</div>



@code {
  

  
   
 
}