<div class="counter">
    <span class="counter-label">Connected Users:</span>
    <span class="counter-number">@NumerCount</span>
</div>

@code {
    [Parameter]
    public int NumerCount { get; set; }


}
