.counter {
    width: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #00ccff;
    border-radius: 50px;
    box-shadow: 0px 0px 5px #999;
}

.counter-label {
    font-size: 10px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
}

.counter-number {
    font-size: 12px;
    font-weight: bold;
    color: white;
}
