@using SunttelTradePointB.Client.Shared.EntityShareComponents.EntityPopUpComponents
@using SunttelTradePointB.Client.Shared.ConceptSelectors
@using SunttelTradePointB.Shared.Common

@inject ActorsNodeService actorsNodeServive
@inject ContextMenuService ContextMenuService
@inject NavigationManager navigationManager

<div class="detailsTitleContainer">
    <h3 class="subTitleDetailForm">Shipping Setup</h3>
    <span class="btn" @onclick="(() => NavigateToShippingInfo())">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle add-btn-style" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
    </span>
</div>

<div class="tableBodyContainer">
    @if(shippingInfoList != null)
    {
        <RadzenDataGrid AllowFiltering="true"
                    AllowColumnResize="true"
                    AllowAlternatingRows="true"
                    FilterMode="FilterMode.Advanced"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowSorting="true"
                    PageSize="5"
                    AllowPaging="true"
                    PagerHorizontalAlign="Radzen.HorizontalAlign.Left"
                    ShowPagingSummary="true"
                    Data="@shippingInfoList"
                    TItem="ShippingInfo"
                    ColumnWidth="300px"
                    SelectionMode="DataGridSelectionMode.Single"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    @bind-Value=@selectedShippingInfo Class="m-4"
                    CellContextMenu="@ShowContextMenuWithContent"
                    @ref="radzenDataGrid">

            <Columns>
                <RadzenDataGridColumn TItem="ShippingInfo" Property="Sender.Name" Title="Sender" Frozen="true" Width="100px" />
                <RadzenDataGridColumn TItem="ShippingInfo" Property="Carrier.Name" Title="Carrier" Frozen="true" Width="100px" />
                <RadzenDataGridColumn TItem="ShippingInfo" Property="DeliveryAddress.Name" Title="Delivery Address" Frozen="true" Width="100px" />
                <RadzenDataGridColumn TItem="ShippingInfo" Property="CutOff24Hour" Title="Cut Off 24H" Frozen="true" Width="100px" />
                <RadzenDataGridColumn TItem="ShippingInfo" Property="CutOffMinute" Title="Cut Off Minute" Frozen="true" Width="100px" />
                <RadzenDataGridColumn TItem="ShippingInfo" Property="DelayTimeDays" Title="Delay Time Days" Frozen="true" Width="100px" />
                <RadzenDataGridColumn TItem="ShippingInfo" Property="PalletTypeShipping.Name" Title="Pallet Type Shipping" Frozen="true" Width="100px" />
            </Columns>


        </RadzenDataGrid>
    }

</div>

@code {
    [Parameter]
    public string? EntityId { get; set; }
    List<ShippingInfo> shippingInfoList = new List<ShippingInfo>();
    IList<ShippingInfo> selectedShippingInfo;
    RadzenDataGrid<ShippingInfo>? radzenDataGrid;

    protected override async Task OnInitializedAsync()
    {
        await GetEntityShippingSetUp();
    }

    public async Task GetEntityShippingSetUp()
    {
        if(EntityId != null)
        {
            var response = await actorsNodeServive.GetShippingInfos(EntityId);
            if (response != null)
                shippingInfoList = response;
            StateHasChanged();
        }
    }


    void ShowContextMenuWithContent(DataGridCellMouseEventArgs<ShippingInfo> args) => ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="OnMenuItemClick">
        <RadzenMenuItem Text="Edit" Value=args.Data Icon="edit"></RadzenMenuItem>
        <RadzenMenuItem Text="Delete" Value=args.Data Icon="delete"></RadzenMenuItem>
        <RadzenMenuItem Text="Show in Map" Value=args.Data Icon="location_on"></RadzenMenuItem>

        </RadzenMenu>
    );

    void OnMenuItemClick(MenuItemEventArgs args)
    {
        ShippingInfo argObj = (ShippingInfo)args.Value;

        if(args.Text == "Edit")
        {
            navigationManager.NavigateTo($"/Actors/{EntityId}/ShippingInfo/{argObj.Id}/Edit");
        }

        if (!args.Value.Equals(3) && !args.Value.Equals(4))
        {
            ContextMenuService.Close();
        }
    }

    private async Task NavigateToShippingInfo()
    {
        navigationManager.NavigateTo($"/Actors/{EntityId}/ShippingInfo");
    }

}
