@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using SunttelTradePointB.Shared.Sales
@inject NavigationManager Navigation
@inject SunttelTradePointB.Client.Services.SalesServices.SalesDocuments DocumentServices




<div id="container-menu-general">
    <nav>
        <button class="general-menu-button btn-new" @onclick="CreateNew"><i class="fa-solid fa-file"></i></button>

        <SfSplitButton Content="Import..." IconCss="fa-solid fa-file-import" CssClass="splitButtonsStyle">
            <DropDownMenuItems>
                <DropDownMenuItem Text="Importing from the cloud..." IconCss="fa-solid fa-cloud-arrow-up"></DropDownMenuItem>
                <DropDownMenuItem Text="Uploading a csv file..." IconCss="fa-solid fa-file-csv"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfSplitButton>     

        <SfSplitButton Content="Views" IconCss="fa-solid fa-arrows-to-circle" CssClass="splitButtonsStyle">
            <SplitButtonEvents ItemSelected="ItemSelected">
            </SplitButtonEvents>
            <DropDownMenuItems>
                <DropDownMenuItem Id="Consolidated" Text="Consolidated" IconCss="fa-solid fa-group-arrows-rotate"></DropDownMenuItem>
                <DropDownMenuItem Id="Detailed" Text="Detailed" IconCss="fa-solid fa-layer-group"></DropDownMenuItem>

            </DropDownMenuItems>
        </SfSplitButton>

    </nav>

</div>


@code {
  
    protected async override void OnInitialized()
    {
       // commercialDocumentTypeList = await DocumentServices.GetCommercialDocumentTypes();
        StateHasChanged();
    }

  

    private void ItemSelected(MenuEventArgs args)
    {
        var Selected_item = args.Item.Id;
        Navigation.NavigateTo(Selected_item);
    }

  

    private void CreateNew()
    {
        Navigation.NavigateTo("/SaleItem");
    }

}


