@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@inject NavigationManager Navigation
@inject TransactionalItemsService transactionalService;

<div id="container-menu-general">
    <nav>
        <button @onclick='Home' class="general-menu-button" style="text-align:center;"><i class="fa-sharp fa-solid fa-circle-arrow-left color-hover"></i></button>
        <button @onclick="CreateNew" class="general-menu-button"><i class="fa-solid fa-file"></i></button>

        <SfSplitButton Content="Import Data" IconCss="fa-solid fa-file-import" CssClass="splitButtonsStyle">
            <DropDownMenuItems>
                <DropDownMenuItem Text="Importing from the cloud..." IconCss="fa-solid fa-cloud-arrow-up"></DropDownMenuItem>
                <DropDownMenuItem Text="Uploading a csv file..." IconCss="fa-solid fa-file-csv"></DropDownMenuItem>
            </DropDownMenuItems>

        </SfSplitButton>

    </nav>

</div>

@code {
    static bool ShowMenu { get; set; } = false;
    public string commandStyle = "display: 'none';";

    [Parameter]
    public string? OriginPage { get; set; }
      

    void OnClick(RadzenSplitButtonItem item, string buttonName)
    {
        if (item != null)
        {
            Console.WriteLine($"{buttonName}, item with value {item.Value} clicked");
        }
        else
        {
            Console.WriteLine($"{buttonName} clicked");
        }
    }

    public void CreateNew()
    {
        string Page = transactionalService.Page != null ? transactionalService.Page : "";

        if (Page == "TypesTransactionalItems")
        {
            Navigation.NavigateTo($"/TypesTransactionalItemsConcept/TypesTransactionalItems");
        }
        if (Page == "Groups")
        {
            Navigation.NavigateTo($"/GroupConcept/Groups");
        }
        if (Page == "Status")
        {
            Navigation.NavigateTo($"/StatusConcept/Status/{OriginPage}/all");
        }

        if (Page == "LabelStyles")
        {
            Navigation.NavigateTo($"/LabelStylesConcept/LabelStyles");
        }
        if (Page == "ItemAssemblyType")
        {
            Navigation.NavigateTo($"/ItemAssemblyType/addAndEdit");
        }
        if (Page == "ShippingStatus")
        {
            Navigation.NavigateTo($"/ShippingStatusDocumentConcept/add");
        }
        if (Page == "CommercialDocumentType")
        {
            Navigation.NavigateTo($"/DocumentTypeConcept/add");
        }
        if (Page == "BusinessLineDoc")
        {
            Navigation.NavigateTo($"/BusinessLineDocConcept/add");
        }

    }

    public void Home()
    {
        Navigation.NavigateTo($"/{OriginPage}");
    }

}

