@using SunttelTradePointB.Client.Interfaces.SalesInterfaces;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using SunttelTradePointB.Shared.Sales
@inject NavigationManager Navigation
@inject ISalesDocuments DocumentServices




<div id="container-menu-general">
    <nav>
        <button class="general-menu-button btn-new" @onclick="CreateNew"><i class="fa-solid fa-file"></i></button>

        <SfSplitButton Content="Import..." IconCss="fa-solid fa-file-import" CssClass="splitButtonsStyle">
            <DropDownMenuItems>
                <DropDownMenuItem Text="Importing from the cloud..." IconCss="fa-solid fa-cloud-arrow-up"></DropDownMenuItem>
                <DropDownMenuItem Text="Uploading a csv file..." IconCss="fa-solid fa-file-csv"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfSplitButton> 
    </nav>

</div>


@code {
  
    protected async override void OnInitialized()
    {
       // commercialDocumentTypeList = await DocumentServices.GetCommercialDocumentTypes();
        StateHasChanged();
    }

  

    private void ItemSelected(MenuEventArgs args)
    {
        var Selected_item = args.Item.Id;
        Navigation.NavigateTo(Selected_item);
    }

  

    private void CreateNew()
    {
        Navigation.NavigateTo("/PaymentType");
    }

}


