@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using SunttelTradePointB.Shared.Sales
@inject NavigationManager Navigation
@inject IJSRuntime Js


<div id="container-menu-general">
    <nav>
        <button class="general-menu-button btn-new  " @onclick="CreateNew"><i class="fa-solid fa-file"></i></button>

        <SfSplitButton Content="Import..." IconCss="fa-solid fa-file-import" CssClass="splitButtonsStyle">
            <DropDownMenuItems>
                <DropDownMenuItem Text="Importing from the cloud..." IconCss="fa-solid fa-cloud-arrow-up"></DropDownMenuItem>
                <DropDownMenuItem Text="Uploading a csv file..." IconCss="fa-solid fa-file-csv"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfSplitButton>
             

         <SfSplitButton Content="Related Concepts" IconCss="fa-solid fa-arrows-to-circle" CssClass="splitButtonsStyle">
            <SplitButtonEvents ItemSelected="ItemSelected">
            </SplitButtonEvents>
            <DropDownMenuItems>
                <DropDownMenuItem Id="PaymentTypeGeneral" Text="Payment Types" IconCss="e-menu-icon fa-solid fa-sitemap"></DropDownMenuItem>
                <DropDownMenuItem Id="PaymentStatusGeneral" Text="Payment Statuses" IconCss="e-menu-icon fa-solid fa-signal"></DropDownMenuItem>
                <DropDownMenuItem Id="PaymentModeGeneral" Text="Payment Modes" IconCss="fa-solid fa-money-bill"></DropDownMenuItem>
                <DropDownMenuItem Id="PaymentViaGeneral" Text="Payment Vias" IconCss="fa-solid fa-cash-register"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfSplitButton>

    </nav>

</div>



@code {

    [Parameter]
    public EventCallback<string> SetDocumentTypeId { get; set; }
    [Parameter]
    public string page { get; set; }


    protected override void OnParametersSet()
    {
       
        StateHasChanged();
    }

    void OnClick(RadzenSplitButtonItem item, string buttonName)
    {
        if (item != null)
        {
            Console.WriteLine($"{buttonName}, item with value {item.Value} clicked");
        }
        else
        {
            Console.WriteLine($"{buttonName} clicked");
        }
    }

    private void ItemSelected(MenuEventArgs args)
    {
        var Selected_item = args.Item.Id;
        // Navigation.NavigateTo(Selected_item);
         CreateNewTab(args.Item.Id);
    }

    private void SetDocumentType(MenuEventArgs args)
    {
        var Selected_item = args.Item.Id;
       SetDocumentTypeId.InvokeAsync(Selected_item);
    }



    public void CreateNewTab(string name)
    {
        Navigation.NavigateTo(name);
       // Js.InvokeAsync<object>("open", name, "_blank");

    }

    private void CreateNew()
    {
        Navigation.NavigateTo($"/{page}");
    }

}


