@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using SunttelTradePointB.Shared.Sales
@using SunttelTradePointB.Shared.Accounting
@inject NavigationManager Navigation
@inject SunttelTradePointB.Client.Services.SalesServices.SalesDocuments DocumentServices




<div class="aling-div ">
    <div>
        <label class="lblControl col-form-label">
            @GetName("DocumentType",new Payment())
        </label>
    </div>
    <div class="InventoryBusinessLine">
        <select @onchange="SetDocumentType" class="select-style">
            @if (commercialDocumentTypeList != null)
            {
                @foreach (var item in commercialDocumentTypeList)
                {
                    <option value="@(item.Id)" selected>@(item.Name)</option>
                }
            }
        </select>
    </div>
</div>


@code {
    [Parameter]
    public List<CommercialDocumentType> commercialDocumentTypeList { get; set; }
    [Parameter]
    public EventCallback<CommercialDocumentType> SetDocumentTypeId { get; set; }
    [Parameter]
    public bool isASales { get; set; } 
    [Parameter]
    public bool pageBack { get; set; }


    void ToggleMenu()
    {
        StateHasChanged();
    }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }


    protected async override void OnInitialized()
    {
        commercialDocumentTypeList = await DocumentServices.GetCommercialDocumentTypes(isASales);
        StateHasChanged();
    }

    void OnClick(RadzenSplitButtonItem item, string buttonName)
    {
        if (item != null)
        {
            Console.WriteLine($"{buttonName}, item with value {item.Value} clicked");
        }
        else
        {
            Console.WriteLine($"{buttonName} clicked");
        }
    }

    private void ItemSelected(MenuEventArgs args)
    {
        var Selected_item = args.Item.Id;
        Navigation.NavigateTo(Selected_item);
    }

    private void SetDocumentType(ChangeEventArgs args)
    {
        var Selected_item = commercialDocumentTypeList.Where(s => s.Id == args.Value.ToString()).FirstOrDefault();
        if (Selected_item != null)
        {
            SetDocumentTypeId.InvokeAsync(Selected_item);
        }
    }


    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }


    private void CreateNew()
    {
        Navigation.NavigateTo($"/{pageBack}");
    }

}


