@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using SunttelTradePointB.Shared.Sales
@inject NavigationManager Navigation
@inject SunttelTradePointB.Client.Services.SalesServices.SalesDocuments DocumentServices




<div >
    <nav>
      @*  <button class="general-menu-button btn-new" @onclick="CreateNew"><i class="fa-solid fa-file"></i></button>*@
      
        <SfSplitButton Content="Views" IconCss="fa-solid fa-arrows-to-circle" CssClass="splitButtonsStyle">
            <SplitButtonEvents ItemSelected="ItemSelectedView">
            </SplitButtonEvents>
            <DropDownMenuItems>
                @if (page != "view")
                {
                    <DropDownMenuItem Id="view" Text="Dynamic View" IconCss="e-menu-icon fa-solid fa-chart-simple"></DropDownMenuItem>
                }
                else
                {
                    <DropDownMenuItem Id="table" Text="Table" IconCss="e-menu-icon fa-solid fa-table"></DropDownMenuItem>
                }
            </DropDownMenuItems>
        </SfSplitButton>
    </nav>
</div>


@code {

    [Parameter]
    public EventCallback<string> PageHome { get; set; }
    public string page = "";
    protected async override void OnInitialized()
    {
        // commercialDocumentTypeList = await DocumentServices.GetCommercialDocumentTypes();
        StateHasChanged();
    }

    private void ItemSelected(MenuEventArgs args)
    {        
        Navigation.NavigateTo(args.Item.Id);
    }
      
    private void ItemSelectedView(MenuEventArgs args)
    {
        page = args.Item.Id;       
        PageHome.InvokeAsync(page);
        
        // Navigation.NavigateTo(Selected_item);
    }
      

    private void CreateNew()
    {
        Navigation.NavigateTo("/ShippingItem");
    }

}


