@using SunttelTradePointB.Shared.Quality


<div class="container-traffic-light">
      
    @if (trafficLightList != null)
    {
        @foreach (var item in trafficLightList)
        {
            <div class="item" @onclick='()=>SetTrafficLight(item.Id)'>
                <p class="text"> @item.Name </p> <div class="circle-color" style=" background-color:rgb(@(item.Id== trafficLight.Id? $"{item.R},{item.G},{item.B}":""))"></div>
            </div>
        }
    }
  
</div>

@code {
    [Parameter]
    public List<QualityTrafficLight> trafficLightList { get; set; }
    [Parameter]
    public QualityTrafficLight trafficLight { get; set; }
    [Parameter]
    public string NameStatus { get; set; }
    [Parameter]
    public EventCallback<string> SetTrafficLightStatus { get; set; }


    protected override void OnInitialized()
    {
        //trafficLightList = new List<QualityTrafficLight>();
        //trafficLightList.Add(new QualityTrafficLight { Name = "prueba", R = 255, G = 99, B = 12 });
        base.OnInitialized();
    }


    public void SetTrafficLight(string trafficLightId)
    {
        SetTrafficLightStatus.InvokeAsync(trafficLightId);
    }

    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

}
