@using SunttelTradePointB.Shared.Quality


<div class="container-traffic-light">
      
    @if (trafficLightList != null)
    {
        @foreach (var item in trafficLightList)
        {
            <div class="item">
                <p class="text"> @item.Name </p> <div  class="circle-color"  style="@(NameStatus==item.Name?"green":"")"  ></div>
            </div>
        }
    }
    else
    {
        @if (trafficLight != null)
        {
            <div class="item">
                <p class="text"> @trafficLight.Name </p> <div class="circle-color" style="@(NameStatus==trafficLight.Name?"green":"")"></div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public List<QualityTrafficLight> trafficLightList { get; set; }
    [Parameter]
    public QualityTrafficLight trafficLight { get; set; }
    [Parameter]
    public string NameStatus { get; set; }



    protected override void OnInitialized()
    {
      
    base.OnInitialized();
    }


    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

}
