@using SunttelTradePointB.Shared.Quality


<div class="container-traffic-light">

   <p> @GetName("TrafficLightStatus",new QualityEvaluation())</p>
    @if (trafficLightList != null)
    {
        @foreach (var item in trafficLightList)
        {
            <div class="item">
                <p class="text"> @item.Name </p> <div  class="circle-color"></div>
            </div>
        }
    }
    else
    {
        @if (trafficLight != null)
        {
            <div class="item">
                <p class="text"> @trafficLight.Name </p> <div class="circle-color"></div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public List<QualityTrafficLight> trafficLightList { get; set; }
    [Parameter]
    public QualityTrafficLight trafficLight { get; set; }



    protected override void OnInitialized()
    {
        trafficLight = new QualityTrafficLight
            {
                Name = "Prueba 1"
            };


        trafficLightList = new List<QualityTrafficLight>();
        trafficLightList.Add(trafficLight);
        trafficLightList.Add(trafficLight);
        trafficLightList.Add(trafficLight);

    base.OnInitialized();
    }


    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

}
