@inherits LayoutComponentBase

        <div class="page h-100">
            @*   <div class="sidebar">
            <NavMenu />
            </div>*@

            <main>
                <AuthLinks />
                <article>
                    <div class="container p-0 myBody">
                        @Body
                    </div>
                </article>
            </main>
        </div>

@code {
    


}

