@inherits LayoutComponentBase

<div class="page">
    @*   <div class="sidebar">
    <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">
            <a href="/">
                <img src="/Images/Logo.png" width="60" />
            </a>
            <div class="d-inline-block btn-link">
                <i class="oi oi-map-marker me-1"></i>
                <span>Colombia</span>
            </div>
            <AuthLinks />
        </div>
        <div class="top-row px-4">
            <img src="/Images/Logo.png" width="60" class="" />
            <div class="d-inline-block btn-link">
                <i class="oi oi-map-marker me-1"></i>
                <span>Colombia</span>
            </div>
            <div class="input-group ubi">
                @*oi-magnifying-glass*@
                <input type="text" class="form-control" placeholder="What are you looking for?" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
            </div>
            <button type="button" class="btn btn-primary mx-4">
                <i class="oi oi-cart" />
            </button>

            <div class="d-flex mx-4">
                <i class="mx-3 oi oi-heart"></i>
                <i class="mx-3 oi oi-bell"></i>
                <i class="mx-3 oi oi-comment-square"></i>
            </div>

            <div class="user ms-4">
                <img src="/Images/tattoo.jpg" width="40" height="40" style="border-radius:50%" class="me-1" />
                <i class="oi oi-chevron-bottom"></i>
                @*<i class="oi oi-chevron-top"></i>*@
            </div>
        </div>

        <div class="top-row2 px-4">
            <span class="btn btn-light"> Categories </span>
            <span class="btn btn-light"> Offers </span>
            <span class="btn btn-light"> Record </span>
            <span class="btn btn-light"> Supermarket </span>
            <span class="btn btn-light"> Fashion </span>
            <span class="btn btn-light"> Sell </span>
            <span class="btn btn-light">Help </span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
