@page "/BusinessLineDocConcept/add/{BusinessLineId}"
@page "/BusinessLineDocConcept/add"

@using SunttelTradePointB.Client.Services.SalesServices;
@using SunttelTradePointB.Shared.Common
@using SunttelTradePointB.Shared.Sales;
@using Syncfusion.Blazor.Buttons
@inject NavigationManager Navigation
@inject IA SaleDocumentService

@if (@viewMsg)
{
    <MessageSaveComponent isVisible="viewMsg" message="@msg">
    </MessageSaveComponent>
}

<PageTitleComponent Title="Business line documents" IconName="signal.png"
                    Description="Here you can add or edit one Business line documents">
</PageTitleComponent>

<div class="flex-horizontal-center">
    <div class="grid-columns-2 box-shadow-mode">
        <div><label>@GetName( "Name", new BasicConcept())</label></div>
        <div><input type="text" @bind-value="businessLine.Name" class="form-control" placeholder="Edit value" /></div>

        <br />
        <div>
            <div class="flex-horizontal-end">
                <button @onclick='()=>Closed()' class="size-btn color-btn"><i class="fa-sharp fa-solid fa-circle-arrow-left color-hover"></i></button>
                <button @onclick='Save' class="size-btn color-btn"><i class="fa-regular fa-floppy-disk color-hover "></i></button>
            </div>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public string? BusinessLineId { get; set; }

    public BusinessLine businessLine = new BusinessLine();

    public bool modeEdit = true, viewMsg = false;
    public string msg = "", pageView = "";


    protected override async Task OnParametersSetAsync()
    {
        if (BusinessLineId is null) return;
        businessLine = await SaleDocumentService.GetCommercialBusinessLineById(BusinessLineId);
        base.OnInitialized();
    }


    public void Closed()
    {
        Navigation.NavigateTo($"/BusinessLineDoc");
    }

    public async void Save()
    {
        var resul = await SaleDocumentService.SaveCommercialBusinessLine(businessLine);
        if (resul != null)
        {
            businessLine = new();
            Msg("Save", 0);
        }
    }


    private void Msg(string? Msg, int status)
    {
        msg = Msg;
        viewMsg = true;
        StateHasChanged();
    }
    public string GetName(string Name, Object Obj)
    {
        Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }
}
