.img-ico-edit {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.width {
    width: 100%;
}

.width-address {
    width: 300px;
    padding: 15px;
    margin-top: 10px;
}

.scroll-vertical {
    overflow-y: auto;
}

.textarea-control {
    width: 90%;
    min-height: 200px;
}

.grid-columns-6 {
    height: 100px;
    column-gap: 5px;
    row-gap: 0px;
    margin-top: 0px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

    /*grid-template-columns: 140px 180px 176px 180px 150px 180px;*/

    .grid-columns-6 .item-1 {
        grid-column: 1/7;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 20px;
        align-items: center;
    }


    .grid-columns-6 .Vendor {
        grid-column: 2/4;
        display: flex;
        flex-direction: row;
        justify-content: start;
        column-gap: 20px;
        align-items: center;
    }

    .grid-columns-6 .Buyer {
        grid-column: 5/7;
        display: flex;
        flex-direction: row;
        justify-content: start;
        column-gap: 20px;
        align-items: center;
    }


.item-check {
    display: grid;
    grid-template-columns: 185px 50px;
}

.menu-item {
    top: 20px;
    left: 80px;
    position: absolute;
    background-color: #edeade;
    height: auto;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 8px;
    justify-items: start;
    z-index: 100;
    box-shadow: 0px 0px 2px, 0px 0px 1px 1px inset;
}

    .menu-item .item button {
        margin-left: 2px;
        border: none;
        background-color: #00ccff;
        margin-bottom: 5px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0px 0px 2px, 0px 0px 2px inset;
    }

    .menu-item .exit-btn {
        width: 25px;
        height: 25px;
        padding: 0px;
        top: -15px;
        right: -8px;
        position: absolute;
        border-radius: 100%;
        border: none;
        background-color: #00ccff;
        box-shadow: 0px 0px 2px;
    }

    .menu-item b {
        text-shadow: 0px 0px 0px;
        cursor: pointer;
        color: black;
        font-weight: normal;
    }

.img-menu {
    margin-top: 2px;
    margin-left: 6px;
    height: 20px;
    width: 20px;
}

.container-item {
}


.style-color {
    background-color: #eeeff0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px gray;
}


.div-container-flex {
    display: flex;
    flex-direction: row;
    height: 120px;
}

.quality-parameter-group {
    background-color: #eeeff0;
    width: 100%;
    padding: 5px;
    display: flex;
    column-gap: 5px;
    overflow: auto;
}

    .quality-parameter-group .btn {
        background-color: #00ccff;
        box-shadow: 0px 0px 2px;
        min-width: 100px;
        max-width: 350px;
        text-align: center;
        height: 40px;
        overflow: hidden;
        font-size: 10px;
    }

.container-parameter-list {
    display: flex;
    justify-content: center;
    height: 100%;
}

    .container-parameter-list .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        background-color: #e8e9ec;
        padding: 10px;
        max-width: 400px;
        overflow: auto;
    }

        .container-parameter-list .list .item {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            align-items: center;
            align-items: center;
            box-shadow: 0px 0px 5px;
            padding: 5px;
            border-radius: 3px;
        }

            .container-parameter-list .list .item label {
                margin: 0px;
            }


.container-parameter-list-item {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    align-items: center;
    box-shadow: 0px 0px 5px;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0px;
}

    .container-parameter-list-item label {
        margin: 0px;
    }

.div-color {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: red;
}

.container-vertical {
    display: flex;
}

.parameters-group {
    display: flex;
    flex-direction: row;
}

.parameters-group-table {
    width: 450px !important;
}
