<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Print Pdf</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReporPdf.styles.css" asp-append-version="true" />
    <link rel="icon" sizes="512x512" href="/favicon.ico" type="text/css" />
  
</head>
<body>
   
  
     
            @RenderBody()


 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/QR.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
