@page "/BusinessLineDoc/{_filterItems}"
@page "/BusinessLineDoc"

@using SunttelTradePointB.Client.Services.SalesServices;
@using SunttelTradePointB.Shared.Sales;
@inject HttpClient Http
@inject SalesDocuments SalesDocumentsService
@inject ContextMenuService ContextMenuService
@inject TransactionalItemsService transactItemsService
@inject NavigationManager Navigation


<PageTitleComponent Title="Business line documents" IconName="signal.png"
                    Description="Describe the Business line documents">
</PageTitleComponent>

<div class="panelMenuContainer">
    <MenuConcet OriginPage="SalesDocuments"></MenuConcet>
    <SearchComponent @bind-FilterTextSet="@conceptFilter"></SearchComponent>
</div>


@if (isLoading)
{

    <WaitingProcessIndicator loadingTopic="Transactional Items"></WaitingProcessIndicator>

}
else
{
    <RadzenDataGrid AllowFiltering="true"
                AllowColumnResize="true"
                AllowAlternatingRows="true"
                FilterMode="FilterMode.Advanced"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowSorting="true"
                AllowPaging="true"
                PagerHorizontalAlign="Radzen.HorizontalAlign.Left"
                ShowPagingSummary="true"
                Data="@businessLines"
                TItem="BusinessLine"
                ColumnWidth="300px"
                SelectionMode="DataGridSelectionMode.Single"
                LogicalFilterOperator="LogicalFilterOperator.Or"
                CellContextMenu="@ShowContextMenuWithContent"
                PageNumbersCount="100"
                PageSize="10">

        <Columns>
            <RadzenDataGridColumn TItem="BusinessLine" Property="Name" Title="@GetName("Name", new BasicConcept())" Width="80px" />
        </Columns>
    </RadzenDataGrid>
}


@code {
    [Parameter]
    public string _filterItems { get; set; } = "";

    public List<BusinessLine> businessLines = new List<BusinessLine>();


    protected override void OnInitialized()
    {
        transactItemsService.Page = "BusinessLineDoc";
        if (_filterItems == "" && _filterItems is null) return;
        LoadData();
    }

    bool isLoading = false;

    public string? conceptFilter
    {
        get { return _filterItems; }
        set
        {
            _filterItems = value;
            LoadData();
        }
    }

    private async Task LoadData()
    {
        isLoading = true;
        businessLines = await SalesDocumentsService.GetCommercialBusinessLines(_filterItems);
        isLoading = false;
        StateHasChanged();
    }


    public void Onload(object args)
    {
        isLoading = false;
        StateHasChanged();
    }

    #region Grid

    void ShowContextMenuWithContent(DataGridCellMouseEventArgs<BusinessLine> args) => ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="OnMenuItemClick">
        <RadzenMenuItem Text="Edit" Value=args.Data Icon="edit"></RadzenMenuItem>
    </RadzenMenu>
    );

    void OnMenuItemClick(MenuItemEventArgs args)
    {
        BusinessLine argObj = (BusinessLine)args.Value;

        Navigation.NavigateTo($"/BusinessLineDocConcept/add/{argObj.Id}");
    }

    #endregion Grid




    public string GetName(string Name, Object Obj)
    {
        Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

}