@page "/ActorsImporting"


@using SunttelTradePointB.Shared.Common

@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@inject ActorsNodeService actorsNodeServive;



<PageTitleComponent Title="Actors Importing" IconName="upload.png"
                    Description="you can import actors">
</PageTitleComponent>



<div class="panelMenuContainer">
    <button @onclick="Home" class="size-btn color-btn"><i class="fa-sharp fa-solid fa-circle-arrow-left color-hover"></i></button>
</div>

<div class="iport-file" >
    <UploadFile EventMultipartFormDataContent="FileUpload"
                isLoading="isLoading">
    </UploadFile>
</div>



@code {
    [Parameter]
    public string filter { get; set; }
    bool isLoading = false;

    private ElementReference fileInput;

    private async Task HandleFileUpload()
    {
        //var file = await fileInput.[0].Text();
        // Hacer algo con el archivo
    }

    public async void FileUpload(MultipartFormDataContent file)
    {
        isLoading = true;
        StateHasChanged();
        await actorsNodeServive.EntityImport(file);
        isLoading = false;
        StateHasChanged();
    }


    public void Home()
    {
        Navigation.NavigateTo($"/ActorsImporting/{filter}");
    }


}