@page "/TypesTransactionalUploadingACsv"


@using SunttelTradePointB.Shared.Common

@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@inject TransactionalItemsService transactItemsService;


<PageTitleComponent Title="Transactional Item Upload" IconName="upload.png"
                    Description="Here you can upload transactional item in format CSV">
</PageTitleComponent>


<div class="panelMenuContainer">
    <button @onclick="Home" class="size-btn color-btn"><i class="fa-sharp fa-solid fa-circle-arrow-left color-hover"></i></button>
</div>

<div class="iport-file">
    <UploadFile EventMultipartFormDataContent="FileUpload"
                isLoading="isLoading">
    </UploadFile>
</div>


    @if (TransactionalItems != null && statusSaved)
    {


        <RadzenDataGrid AllowFiltering="true"
                AllowColumnResize="true"
                AllowAlternatingRows="true"
                FilterMode="FilterMode.Advanced"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowSorting="true"
                PageSize="50"
                AllowPaging="true"
                PagerHorizontalAlign="Radzen.HorizontalAlign.Left"
                ShowPagingSummary="true"
                Data="@TransactionalItems"
                TItem="TransactionalItem"
                ColumnWidth="300px"
                SelectionMode="DataGridSelectionMode.Single"
                LogicalFilterOperator="LogicalFilterOperator.Or"
                        Class="m-4">

            <Columns>
                <RadzenDataGridColumn TItem="TransactionalItem" Title="Status" Frozen="true" Sortable="false" Filterable="false" Width="60px">
                    <Template Context="data">
                        <RadzenImage Path="@(GetFullPathPhoto())" style="width: 40px; height: 40px; border-radius: 8px;" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="TransactionalItem" Property="Code" Title="Code" Frozen="true" Width="80px" />
                <RadzenDataGridColumn TItem="TransactionalItem" Property="Name" Filterable="true" Title="Name" Frozen="true" Width="180px" TextAlign="Radzen.TextAlign.Center" />
                <RadzenDataGridColumn TItem="TransactionalItem" Title="Status comment" Frozen="true" Sortable="false" Filterable="false" Width="60px">
                    <Template Context="data">
                        <p>...</p>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>


    }




@code {
    [Parameter]
    public string filter { get; set; }
    bool isLoading = false;

    public bool statusSaved { get; set; } = false;

    List<TransactionalItem>? TransactionalItems;

    private ElementReference fileInput;

 

    public async void FileUpload(MultipartFormDataContent file)
    {
        statusSaved = false;
        isLoading = true;
        StateHasChanged();
        TransactionalItems = await transactItemsService.TransactionalItemsUpload(file);
        isLoading = false;
        statusSaved = true;
        StateHasChanged();
    }

    public string GetFullPathPhoto(){
        return "ok_ico.png";
    }


    public void Home()
    {
        Navigation.NavigateTo($"/ActorsImporting/{filter}");
    }


}