.btn-grid {
    height:40px;
    width:45px;
    border-radius:5px;
}
.btn-grid-color {
    background-color: #00ccff;
}



.grid-columns-6 {
    grid-template-columns: 1fr 120px 1fr 120px 1fr 1fr;
}

    /*grid-template-columns: 140px 180px 176px 180px 150px 180px;*/

   