@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12"></div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <button type="button" class="btn btn-outline-dark  btn-sm" onclick="@MigrarClientes">Migrar Clientes</button>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12"></div>
    </div>

</div>
