@page "/PaymentMode"
@page "/PaymentMode/{paymentModesId}"
@page "/PaymentMode/{paymentModesId}/{filter}"
@using SunttelTradePointB.Shared.Sales;
@using SunttelTradePointB.Shared.Common
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using System.Reflection
@using Syncfusion.Blazor.Navigations
@using SunttelTradePointB.Client.Shared.Sales.SaleItemSubComponents
@using SunttelTradePointB.Shared.Accounting
@using SunttelTradePointB.Client.Shared.Payments.PaymentsSubComponents
@inject NavigationManager Navigation
@inject SunttelTradePointB.Client.Services.PaymentServices.PaymentServices PaymentServices
@inject ContextMenuService ContextMenuService

@inject IJSRuntime Js

<MessageSaveComponent isVisible="isVisible" message="@msg">
</MessageSaveComponent>
<PageTitleComponent Title="Payment Mode"
                    Description="Here you can add payment mode" IconName="Payments.png">
</PageTitleComponent>


<form>

    <div class="panelMenuContainer scroll-vertical" style="max-width:95%;">
        <button @onclick="Home" class="size-btn color-btn"><i class="fa-sharp fa-solid fa-circle-arrow-left color-hover"></i></button>

        <SfSplitButton Content="File" IconCss="fa-solid fa-folder-closed" CssClass="splitButtonsStyle">
            <SplitButtonEvents ItemSelected="ItemSelected">
            </SplitButtonEvents>
            <DropDownMenuItems>
                <DropDownMenuItem Text="New" IconCss="fa-solid fa-file"></DropDownMenuItem>
                <DropDownMenuItem Separator="true"></DropDownMenuItem>
                <DropDownMenuItem Text="Save" IconCss="fa-solid fa-floppy-disk"></DropDownMenuItem>
                <DropDownMenuItem Text="Save as..." IconCss="e-icons e-save-as"></DropDownMenuItem>
                <DropDownMenuItem Separator="true"></DropDownMenuItem>
                <DropDownMenuItem Text="Inactivate..." IconCss="fa-solid fa-eject" style="color: red;"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfSplitButton>


    </div>


    <div class="flex-horizontal-center">
        <div class="grid-mode-row grid-colum">
            <div><label class="info-text-size">@GetName("Name",new BasicConcept())</label></div>
            <InputTextDisable TypeInt="false" Enable="true" style=" font-weight:none;"  @bind-ValueString="@paymentMode.Name"></InputTextDisable>

        </div>
    </div>

</form>




@code {
    [Parameter]
    public string paymentModesId { get; set; }
    [Parameter]
    public string filter { get; set; }

    public PaymentMode paymentMode { get; set; }
    TextToSpeech textToSpeech;



    #region List


    #endregion List


    MessageSaveComponent? referAlert;
    string msg = "";
    bool isLoading = false;
    string SearcherValue = "";
    bool isVisible = false;

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }

    protected override async void OnInitialized()
    {
        isLoading = true;
        Load();
        if (paymentModesId != null)
        {
            paymentMode = await PaymentServices.GetPaymentModeById(paymentModesId);
        }
        isLoading = false;
        StateHasChanged();
    }



    public async void ItemSelected(MenuEventArgs e)
    {
        string msg = Validate();
        if (msg == "")
        {
            StateHasChanged();
            string tile = e.Item != null ? e.Item.Text : "";
            if (tile == "Save")
            {
                Load();

                var result = await PaymentServices.SavePaymentMode(paymentMode);
                if (result !=null)
                {
                    paymentMode = result;
                    alert("Saved", 0);

                }
                else
                {
                    alert("required fields", 1);
                }

            }
        }
        else
        {
            alert("No Saved", 1);
        }

        StateHasChanged();

    }



    public void SelectItemDocumentType(Microsoft.AspNetCore.Components.ChangeEventArgs arg)
    {

    }





    public async void EventSearcherValueAndId((string value, string IdControl) arg)
    {
        SearcherValue = arg.IdControl.ToString();
        if (SearcherValue == "")
        {
        }


        StateHasChanged();
    }




    public void EventIdSelectionMenuItem(string name)
    {
        Js.InvokeAsync<object>("open", name, "_blank");

    }






    public void alert(string _msg, int? status = 0)
    {
        isVisible = true;
        msg = _msg;

        StateHasChanged();
    }

    public void alert(string _msg)
    {
        isVisible = true;
        msg = _msg;

        StateHasChanged();
    }

    public void Home()
    {
        string paramFilter = filter != null ? filter : "";
        if (paramFilter != null && paramFilter != "") Navigation.NavigateTo($"/Payments/{paramFilter}");
        Navigation.NavigateTo($"/Payments");
    }

    public void OpenAlert(string _msg, int _status, bool visible)
    {
        if (referAlert != null)
        {
            referAlert.isVisible = visible;
            referAlert.message = _msg;
            referAlert.status = _status;
            StateHasChanged();
        }
    }



    public string Validate()
    {
        string msg = "";
        if (paymentMode == null) msg = "required fields";
        if (paymentMode == null || paymentMode.Name == null) msg = "required fields Name";
        return msg;
    }


    #region Load

    public void Load()
    {
        if (paymentMode == null) paymentMode = new();

    }


    #endregion Load

    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

    public void NavigationTo(string name)
    {
        Navigation.NavigateTo(name);
    }

}
