@if (Enable)
{
    <div style="@style">
        <input type="@(TypeInt?"number":"")" class="form-control" @onchange="Onchange">
    </div>
}
else
{
    <div class="p-mode-text" style="@style">
        <p>@Value</p>
    </div>
}
@code {

    public int Value { get; set; }
    [Parameter]
    public int ValueInt { get; set; }
    [Parameter]
    public string ValueString { get; set; }
    [Parameter]
    public bool Enable { get; set; } = true;
    [Parameter]
    public bool TypeInt { get; set; } = true;
    [Parameter]
    public string style  { get; set; }
    [Parameter]
    public EventCallback<int> ValueIntChanged { get; set; }
    [Parameter]
    public EventCallback<string> ValueStringChanged { get; set; }

    public void Onchange(ChangeEventArgs arg)
    {
        Value = Convert.ToInt32(arg.Value.ToString());
        ValueIntChanged.InvokeAsync(Value);
        ValueStringChanged.InvokeAsync(Value.ToString());
    }

}
