.btn-grid {
    height: 40px;
    width: 45px;
    border-radius: 5px;
}

.btn-grid-color {
    background-color: #00ccff;
    color: white;
    width: 80px;
}


.control-btn {
    width: auto;
    right: 0px;
}

    .control-btn button {
        padding:0px;
        color: #00ccff;
        border: none;
        border-radius: 5px;
        font-size:17px;
        background-color:transparent;
    }

    .control-btn .cancel {       
       border:none;
        color: black;
    }

