@using SunttelTradePointB.Shared.Common
@using SunttelTradePointB.Shared.Sales;
<div>
    <div class="control-horizontal">
        <div style="background-color:@(statusColor("DocumentPrinted"));">
            <img class="img-btn" src="/images/print.png">
        </div>
        <div style="background-color:@(statusColor("BillOfLandingPrinted"));">
            <img class="img-btn" src="/images/BillOfLandingPrinted.png">
        </div>
        <div style="background-color:@(statusColor("PickingTicketPrinted"));">
            <img class="img-btn" src="/images/PickingTicketPrinted.png">
        </div>
        <div style="background-color:@(statusColor("LabelsPrinted"));">
            <img class="img-btn" src="/images/LabelsPrinted.png">
        </div>
        <div style="background-color:@(statusColor("SelectedToPrint"));">
            <img class="img-btn" src="/images/SelectedToPrint.png">
        </div>     
    </div>
</div>
@code {
    [Parameter]
    public SalesDocumentPrintingSatus item { get; set; }

    public string statusColor(string name)
    {
        string color = "#a4a4a4";
        if (item != null)
        {
            if (name == "DocumentPrinted" && item.DocumentPrinted) return "#73e600";
            if (name == "BillOfLandingPrinted" && item.BillOfLandingPrinted )  return "#73e600";
            if (name == "PickingTicketPrinted" && item.PickingTicketPrinted) return "#73e600";
            if (name == "LabelsPrinted" && item.LabelsPrinted) return "#73e600";
            if (name == "SelectedToPrint" && item.SelectedToPrint) return "#73e600";
        }
       
        return color;
    }

}

