.img-btn {
    height: 30px;
    width: 30px;
    box-shadow: 0px 0px 5px;
    border-radius: 5px;
    padding: 5px;
  
    
}

.control-horizontal {
    background-color: #00ccff;
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
   
}
