.control {
    background-color: #00ccff;
    height: 40px;
    width: auto;
    padding: 5px;
    border-radius: 5px;
}

    .control p {
        height: 100%;
        margin: 0px;
        padding: 5px;
        padding-top: 8px;
        width: auto;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 1px black;
        color: white;
        font-size: 9px;
    }