<div>
    <div class="control">
        <p style="background-color:@statusColor();" class="info-text-size">@Name</p>
    </div>
</div>
@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public List<(string,string)> listStatus { get; set; }
    [Parameter]
    public string color { get; set; }

    public string statusColor()
    {
        if (color == null)
        {
             color = "gray";
            if (listStatus != null)
                color = listStatus.Where(s => s.Item1.Contains(Name)).FirstOrDefault().Item2;
        }
        return color;
    }

}

