@page "/CommercialDocumentsGeneral"

<PageTitleComponent Title="Commercial Activities" IconName="commercialActivities.png"
                    Description="With this tool you can create Orders, Invoices, and Bills">
</PageTitleComponent>

<div class="panelMenuContainer">
    <CommercialDocsGrlMenu></CommercialDocsGrlMenu>
    <SearchComponent @bind-FilterTextSet="@commecialDocsFilter"></SearchComponent>

</div>


@code {

    string commecialDocsFilter = "";
}
