@using System.Globalization
@using Microsoft.AspNetCore.Components.Forms


<div class="controlContainer">
    <label class="col-sm-2 col-form-label text-right lblControl">Start</label>
    @if (StartDate != DateTime.MinValue)
    {
        <div class="col-sm-4">
            <input @bind-value="StartDate" type="date" class="form-control" />
    </div>
    }
    @if (EndDate != DateTime.MinValue)
    {
        <label class="col-sm-2 col-form-label text-right lblControl">Until</label>
        <div class="col-sm-4">
        <input @bind-value="EndDate" type="date" class="form-control" />
    </div>
    }
    @if (!disableBtn)
    {
        <div>
            <button class="reload-button">
                <img src="/images/findreload.png" />
            </button>
        </div>
    }
</div>

@code {
    [Parameter]
    public DateTime StartDate { get; set; }

    [Parameter]
    public DateTime EndDate { get; set; }

    [Parameter]
    public bool disableBtn { get; set; }

    protected override Task OnInitializedAsync()
    {


        return base.OnInitializedAsync();


    }

}