@page "/Actors/{Id}/Image"

@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using SunttelTradePointB.Shared.Common
@using SunttelTradePointB.Client.Shared.EntityShareComponents.EntityPopUpComponents

@inject NavigationManager navigationManager

<div class="control-section">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 container">
            <SfCard>
                <CardHeader Title="Add a new skin image" />
                <CardContent>
                    <form onsubmit="event.preventDefault();">
                        <div class="form-group row">
                            <label>Select an image:</label>
                            <div class="col">
                                <InputFile OnChange="@HandleFileSelection" class="" />
                            </div>
                        </div>

                        <MessageSaveComponent message="Image saved" isVisible="visible"></MessageSaveComponent>

                        <div class="py-2">
                            <button type="submit" class="size-btn color-btn" style="float:right"><i class="fa-regular fa-floppy-disk color-hover"></i></button>
                            <button type="button" class="btn" style="float:right" @onclick="GoBack"><i class="fa-sharp fa-solid fa-circle-arrow-left"></i></button>
                        </div>

                    </form>
                </CardContent>
            </SfCard>
        </div>
    </div>
</div>



@code {
    //private IFileListEntry selectedFile;
    [Parameter]
    public string Id { get; set; }

    public bool visible = false;

    private async Task HandleFileSelection(InputFileChangeEventArgs e)
    {
        //selectedFile = e.GetMultipleFiles().FirstOrDefault();
    }

    public void GoBack()
    {
        navigationManager.NavigateTo($"/Actors/");    
    }

}
